<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><img  src="./././assets/sw-logo.png" ></a>        
  </div>
</nav>

<app-movies></app-movies>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Prova Front UI </h5>
        <p class="grey-text text-lighten-4">a listagem dos filmes​ de Star Wars e seus respectivos detalhes​.
            </p>
      </div>
      
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Christian Torres
    <a class="grey-text text-lighten-4 right" target="_blank" href="http://br.linkedin.com/pub/christian-de-oliveira-torres/25/765/50a/">Linkedin</a>
    </div>
  </div>
</footer>